<!--<?xml version="1.0" encoding="UTF-8"?>-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

<!-- <bean id="alien1" class="org.example.Alien" scope="prototype"/>-->
    <bean id="alien1" class="org.example.Alien">
        <property name="age" value="21" />
<!--        calling the setter method , value is used because it's a primitive value for object we need to  use ref like below -->
        <property name="laptop" ref="lap" />
<!--        lap in ref="lap" is same used below , basically its referring to lap id bean-->
    </bean>
<!--    scope prototype means it will create multiple object but by default iyt create single object and its scope is singleton-->
<!-- <bean id="alien2" class="org.example.Alien"/>-->
 <bean id="lap" class="org.example.Laptop"/>

</beans>
